# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

git:
    depth: 1000

os:
  - linux

env:
  global:
    - UPLOAD_NON_MASTER="false"

  matrix:
    - CONDA_PY=37

before_install:
    # Remove homebrew.
    - >
     if [[ "$TRAVIS_OS_NAME" == "linux" ]];
     then docker pull zaharid/conda-centos;
     fi
    - >
     if [[ "$TRAVIS_OS_NAME" == "linux" ]];
     then docker run -itd --name build zaharid/conda-centos;
     fi
    - >
     if [[ "$TRAVIS_OS_NAME" == "linux" ]];
     then docker cp ../dis build:/;
     fi
    - >
     if [[ "$TRAVIS_OS_NAME" == "linux" ]];
     then docker exec build bash -c "echo CONDA_PY=$CONDA_PY >> /root/.bashrc"  ;
     fi
    - >
     if [[ "$TRAVIS_OS_NAME" == "linux" ]];
     then docker exec build bash -c "echo CI_BUID_REF_NAME=$CI_BUID_REF_NAME >> /root/.bashrc";
     fi

script:
    - >
     if [[ "$TRAVIS_OS_NAME" == "linux" ]];
     then docker exec build bash -c "cd /dis/; .ciscripts/build-deploy-linux.sh";
     fi
