# file to be used by `pip install -r`

# Development
black
isort
pylint
pre-commit

# Documentation
sphinx
sphinx_rtd_theme
recommonmark
sphinxcontrib-bibtex
sphinxcontrib-details-directive
nbsphinx
Jinja2
numpy
pygit2
semver

# Tests
pytest
pytest-cov
pytest-env
packutil
pineappl
# airspeed velocity requirements
asv
# install yadmark
-e benchmarks/
