<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Yadism documentation - Home</title>
    <link rel="stylesheet" href="home.css" />
    <script
      defer=""
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="item">
        <h1 id="title">Yadism</h1>
      </div>
      <div class="item">
        <div class="version-row">
          <a href="stable" class="docs-version is-success">
            stable
          </a>
          <a href="develop" class="docs-version">
            develop
          </a>
        </div>
      </div>
      <div class="item">
        {% for major, minors in versions.items() %}
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button
              class="button is-info"
              aria-haspopup="true"
              aria-controls="dropdown-menu"
            >
              <span>{{ major }}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {% for minor in minors %}
              <a href="{{ major }}.{{minor}}" class="dropdown-item">
                {{ major }}.{{minor}}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/clipboard-1.7.1.min.js"></script>
  </body>
</html>
