<div id="top-row" class="home-row">
  <div class="row-item">
    <a href="http://n3pdf.mi.infn.it/">
      <img src="_assets/n3pdf_logo.png" alt="N3PDF" class="external-logo">
    </a>
  </div>
  <div class="row-item spacer">
  </div>
</div>
