name: unit tests

on: push

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
      fail-fast: false

    uses: NNPDF/workflows/.github/workflows/python-poetry-tests.yml@v2
    with:
      python-version: ${{ matrix.python-version }}
      poetry-extras: "-E mark -E box"
